body {
	font-family: Calibri, sans-serif;
}
.requests table, .requests th, .requests td {
	border: 1px solid black;
	border-collapse: collapse;

}
.requestButtons {
	text-align:center;
	display: block;
}
.banner {
	width: auto;
	height: auto;
	margin: auto;
	text-align: center;
}
.content {
	width: 1000px;
	height: auto;
	margin: auto;
	text-align: justify;
}
.footer {
	width: auto;
	height: auto;
	margin: 8px 22px 8px 22px;
	
}

nav {
	background-color: #FFF;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
	display: block;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
	width: auto;
	text-align: center;

	
}

nav ul {
	
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	list-style-type: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; 

}
nav > ul > li > a {
	color: #000;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
    
}
/*nav > ul > li:hover {
	background-color: rgb( 40, 44, 47 );
}
nav > ul > li:hover > a {
	color: rgb( 255, 255, 255 );
}*/
footer {
	background-color: #808080;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #000;
	display: block;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
	width: auto;
	text-align: center;
}
footer ul{
	margin: 0;
	padding: 0;
}
footer li {
	display: inline-block;
	text-align: center;
	padding: 10px;
}
a:link.nav,a:visited.nav{
display:block;
height:40px;
width:182px;
padding-top:10px;
font-size:20px;
font-weight:bold;
color:#000000;
background-color:#66ffff;
text-align:center;
text-decoration:none;
text-transform:uppercase;
}
a:hover.nav{
background-color:#336699;
}
a:active.nav{
color:#ffffff;
background-color:#336699;
}
.error{
color: #FF0000;
}
.debug{
color:green;
display:none;
}
p.ref{
display:none;
}
.creation{
display:none;
}
.hiddenInput{
display:none;
}
.editArea{
display:none;
}
.editButtons{
display:none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.show {display:block;}
.dropbtn {
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

